{% extends 'base.html.twig' %}

{% block title %}New Attributes{% endblock %}

{% block body %}
    <h1>Create new Attributes</h1>

    {{ include('attributes/_form.html.twig') }}

    <a href="{{ path('attributes_index') }}">back to list</a>
{% endblock %}
