{% extends 'base.html.twig' %}

{% block title %}Ludo et Sophie Accueil
{% endblock %}


{% block body %}
	<article>
		<div class="container">

			<div>
				{{ ( page.content ?? '')|raw }}
			</div>

			<p class="my-5 ml-5">
				{% for keyWords in page.keywords %}
					#
					<strong>{{ keyWords }}</strong>
				{% endfor %}
			</p>
		</div>
	</article>
{% endblock %}