{% extends 'base.html.twig' %}

{% block title %}Ludo et Sophie Accueil{% endblock %}


{% block body %}
	<article>
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					{{ ( page.content ?? '')|raw }}
				</div>
			</div>
            <p>
                {% for keyWords in page.keywords %}
                # <strong>{{ keyWords }}</strong>
                {% endfor %}						
            </p>
		</div>
	</article>
{% endblock %}
        

