{% extends 'base.html.twig' %}

{% block title %}Ludo et Sophie -
	{{ page.title ?? '' }}
{% endblock %}

{% block body %}
	<article>
		<h2 class="blue text-center my-5">{{ page.title ?? '' }}</h2>
		<div class="container">

			<div>
				{{ ( page.content ?? '')|raw }}
			</div>

			<p class="my-5 ml-5">
				{% for keyWords in page.keywords %}
					#
					<strong>{{ keyWords }}</strong>
				{% endfor %}
			</p>
		</div>
	</article>
{% endblock %}





