{% extends 'base.html.twig' %}

{% block title %}Ludo et Sophie - {{ page.title ?? '' }}
{% endblock %}

{% block body %}
    <article>
        <h2>{{ page.title ?? '' }}</h2>
        <div>
            {{ ( page.content ?? '')|raw }}
        </div>
    </article>
{% endblock %}

