{% extends 'base.html.twig' %}

{% block head %}
	<meta name="description" content="Ils ont entre 7 et 14 ans et sont “convoqués” régulièrement pour découvir de nouvelles activités avant qu'elles n'entrent dans nos programmes.
Avec eux nous testons l'existant, tentons de l'améliorer si nécessaire ou nous créons de nouvelles ***REMOVED*** de toutes pièces.
Ils sont les garants de la qualité pédagogique et ludique de nos ***REMOVED***. Merci à eux !">
{% endblock %}

{% block title %}Découvrez toute l'équipe des petits éclaireurs - Ludo et Sophie
{% endblock %}

{% block body %}

    <h2 class="blue text-center">Découvrez toute l'équipe des petits éclaireurs</h2>

    <p>{{ ( page.content ?? '')|raw }}</p>

    <div class="row my-5">
        {% for youngling in younglings %}
            <div class="col-md-4 col-lg-3 my-3">
                {% if youngling.picture is not empty %}
                    <img class="d-block img-fluid mx-auto" src="{{ asset('images/younglings/'~ youngling.picture ) | imagine_filter('miniatures') }}" alt="Photo d'un membre des petits éclaireurs">
                {% else %}
                    <img class="d-block img-fluid mx-auto" src="{{ asset('images/younglings/noone.jpg' ) | imagine_filter('miniatures') }}" alt="Photo d'un membre des petits éclaireurs">
                {% endif %}
                    <div class="text-center">{{ youngling.name }}</div>
            </div>                    
            
        {% endfor %}
    </div>
{% endblock %}
