body .red {
  color: #9c122e !important;
}

body .blue {
  color: #19578b !important;
}

body .orange {
  color: #e3710d !important;
}

body #scrollChrevron {
  position: -webkit-sticky;
  position: sticky;
  top: 80%;
  left: 100%;
  z-index: 3;
  font-size: 2rem;
  color: #9c122e;
  background-color: #f5f5f5;
}

body .clickChevron {
  -webkit-box-shadow: 0 0 5px gray;
          box-shadow: 0 0 5px gray;
}

body header h1 {
  font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.3rem;
  text-align: center;
  position: relative;
}

body header h1::after {
  content: '';
  height: 2px;
  position: absolute;
  background-color: #e3710d;
  bottom: 10px;
  left: 0px;
}

@media screen and (min-width: 576px) {
  body header h1::after {
    width: 5%;
  }
}

@media screen and (min-width: 992px) {
  body header h1::after {
    width: 15%;
  }
}

@media screen and (min-width: 1200px) {
  body header h1::after {
    width: 20%;
  }
}

body header h1::before {
  content: '';
  height: 2px;
  position: absolute;
  background-color: #e3710d;
  bottom: 10px;
  right: 0px;
}

@media screen and (min-width: 576px) {
  body header h1::before {
    width: 5%;
  }
}

@media screen and (min-width: 992px) {
  body header h1::before {
    width: 15%;
  }
}

@media screen and (min-width: 1200px) {
  body header h1::before {
    width: 20%;
  }
}

body header nav > #burgerAndBannerWrapper {
  left: 0;
  width: 100%;
  background-color: white;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-property: left, width;
  transition-property: left, width;
}

body header nav > #burgerAndBannerWrapper > button:hover {
  -webkit-box-shadow: 0px 0px 5px gray;
          box-shadow: 0px 0px 5px gray;
}

body header nav > #burgerAndBannerWrapper > img {
  display: none;
  height: 50px;
}

body header nav > .pushButton {
  left: 50% !important;
  width: 70% !important;
}

@media screen and (max-width: 576px) {
  body header nav > .pushButton > img {
    display: none !important;
  }
}

@media screen and (min-width: 577px) {
  body header nav > .pushButton > img {
    display: unset !important;
  }
}

body header nav .offcanvas-collapse {
  z-index: 2040;
  position: fixed;
  top: 0;
  right: 100%;
  width: 50%;
  padding-right: 1rem;
  padding-left: 1rem;
  overflow-y: auto;
  visibility: hidden;
  background-color: #ff671f;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-property: right, visibility;
  transition-property: right, visibility;
  -webkit-box-shadow: 0px 3px 10px gray;
          box-shadow: 0px 3px 10px gray;
}

@media screen and (min-width: 992px) {
  body header nav .offcanvas-collapse {
    position: relative;
    visibility: visible;
    right: 0;
  }
}

@media screen and (max-width: 992px) {
  body header nav .offcanvas-collapse.open {
    right: 50%;
    visibility: visible;
  }
}

body header nav ul {
  background-color: #ff671f !important;
}

body header nav ul > li > a {
  color: white !important;
  font-size: 1.3rem;
}

body header nav ul > li > a:hover {
  background-color: #9c122e !important;
}

body header nav ul > li > .dropdown-menu {
  background-color: #ff671f !important;
}

body header nav ul > li > .dropdown-menu > .dropdown-item {
  color: white !important;
}

body header nav ul > li > .dropdown-menu > .dropdown-item:hover {
  background-color: #9c122e !important;
}

body header nav .stickyNavBar {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
}

body main > div h2 {
  font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
}

body main > div > article div > ul > .nav-item > a {
  color: #19578b;
}

body main > div > article div > ul > .nav-item > .active {
  color: #9c122e !important;
}

body main > div > article div #review form, body main > div > article div #reserver form {
  margin-bottom: 100px;
}

body main > div > article div #review form input, body main > div > article div #review form textarea, body main > div > article div #reserver form input, body main > div > article div #reserver form textarea {
  -webkit-box-shadow: 0px 3px 5px rgba(128, 128, 128, 0.41);
          box-shadow: 0px 3px 5px rgba(128, 128, 128, 0.41);
}

body main > div > article div #review form textarea, body main > div > article div #reserver form textarea {
  height: 200px !important;
}

body main > div > article div #review form button, body main > div > article div #reserver form button {
  display: block;
  background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#eeeeee)) !important;
  background: linear-gradient(top, #eeeeee, #eeeeee) !important;
  -webkit-box-shadow: 0px 3px 5px rgba(128, 128, 128, 0.41);
          box-shadow: 0px 3px 5px rgba(128, 128, 128, 0.41);
  color: #6d6d6d !important;
}

body main > div > article div #review form button:hover, body main > div > article div #reserver form button:hover {
  -webkit-box-shadow: 0px 3px 5px gray;
          box-shadow: 0px 3px 5px gray;
  color: #535353 !important;
}

body main > div > article div #review > a, body main > div > article div #reserver > a {
  background-color: #ff671f;
}

body main > div > article div #review > a:hover, body main > div > article div #reserver > a:hover {
  background-color: #e3710d;
}

body main > div > section article a > img:hover {
  opacity: 0.7;
}

body main > div > section article a > h4 {
  font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
}

body main > div > section article a > h4:hover {
  color: #9c122e;
}

body main > div > section article a > h3 {
  font-size: 1.3rem;
}

body main > div > section article a > h3:hover {
  color: #9c122e;
}

body main > div > section article p {
  line-height: 2rem;
}

body main > div > section article .wantToKnowMore:hover {
  color: #9c122e;
}

body main > div > section > div > a > h3 {
  font-size: 1.5rem;
}

body main > div > section > div > a > h3:hover {
  color: #9c122e !important;
  font-weight: bold;
}

body main > div > section > div > a > img:hover {
  opacity: 0.7;
}

body main > div > section > a {
  background-color: #19578b;
}

body main > div > section > a:hover {
  background-color: #9c122e;
}

@media screen and (min-width: 768px) {
  body main > div > section div#products .view-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
  }
  body main > div > section div#products .thumbnail {
    margin-bottom: 30px;
    padding: 0px;
    border-radius: 0px;
  }
  body main > div > section div#products .item.list-group-item {
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 30px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    padding: 0 1rem;
    border: 0;
  }
  body main > div > section div#products .item.list-group-item .img-event {
    float: left;
    width: 30%;
  }
  body main > div > section div#products .item.list-group-item .list-group-image {
    margin-right: 10px;
  }
  body main > div > section div#products .item.list-group-item .thumbnail {
    margin-bottom: 0px;
    display: inline-block;
  }
  body main > div > section div#products .item.list-group-item .caption {
    float: left;
    width: 70%;
    margin: 0;
  }
  body main > div > section div#products .item.list-group-item:before, body main > div > section div#products .item.list-group-item:after {
    display: table;
    content: " ";
  }
  body main > div > section div#products .item.list-group-item:after {
    clear: both;
  }
}

body footer address {
  font-family: Times, 'Times New Roman', serif;
}

body footer address ul {
  list-style: none;
}

body footer form input, body footer form textarea {
  -webkit-box-shadow: 0px 3px 5px rgba(128, 128, 128, 0.41);
          box-shadow: 0px 3px 5px rgba(128, 128, 128, 0.41);
}

body footer form textarea {
  height: 200px !important;
}

body footer form button {
  background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#eeeeee)) !important;
  background: linear-gradient(top, #eeeeee, #eeeeee) !important;
  -webkit-box-shadow: 0px 3px 5px rgba(128, 128, 128, 0.41);
          box-shadow: 0px 3px 5px rgba(128, 128, 128, 0.41);
  color: #6d6d6d !important;
}

body footer form button:hover {
  -webkit-box-shadow: 0px 3px 5px gray;
          box-shadow: 0px 3px 5px gray;
  color: #535353 !important;
}

body footer ul {
  list-style-type: none;
}

body footer ul a:hover {
  color: #9c122e !important;
}

@media screen and (min-width: 992px) {
  body footer > div > ul > li {
    width: 200px;
  }
}
/*# sourceMappingURL=styles.css.map */