{% extends 'base-admin.html.twig' %}

{% block title %}Messages index{% endblock %}

{% block body %}
    <h1>Messages index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Subject</th>
            </tr>
        </thead>
        <tbody>
        {% for message in messages %}
            <tr>
                <td>{{ message.name }}</td>
                <td>{{ message.email }}</td>
                <td>{{ message.subject }}</td>
                <td>
                    <a href="{{ path('messages_show', {'id': message.id}) }}">Lire</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun message</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
